body * {
    list-style-type: none;
    scroll-behavior: smooth;
}

.ternBackground {
    background-image: url(../images/tern-banner.png);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #21BDBD;
    height: 800px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ternCopy {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    max-width: 100%;
    padding: 2.2rem;
    margin: 1.1rem;
}

.sectionOne,
.sectionTwo,
.sectionThree,
.sectionFour {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.researchContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: #21BDBD;
    color: white;
    height: 300px;
    max-width: 100%;
}

.affinityContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2.2rem;
}

.affinityImg {
    max-width: 100%;
    box-shadow: 8px 8px 8px 1px  rgba(0, 0, 0, .2);
}

.travelContainer {
    display: flex;
    justify-content: center;
    align-items: center;

}

.travelImgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 2.2rem;
    margin: 1.1rem;
}

.travelImg {
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
    box-shadow: 8px 8px 8px 1px  rgba(0, 0, 0, .2);
}

.empathyContainer {
    display: flex;
    justify-content: center;
    align-items: center;

}

.empathyImgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 2.2rem;
    margin: 1.1rem;
}

.empathyImg {
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
    box-shadow: 8px 8px 8px 1px  rgba(0, 0, 0, .2);
}

.ideationContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: #21BDBD;
    color: white;
    height: 300px;
    max-width: 100%;
}

.personaContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2.2rem;
}

.personaImg {
    max-width: 50%;
    box-shadow: 8px 8px 8px 1px  rgba(0, 0, 0, .2);
}

.iterationContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: #21BDBD;
    color: white;
    height: 300px;
    max-width: 100%;
}

.protoCopy {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: baseline;
    margin: 1rem;
    padding: 1rem;
}

.carouselContainer {
    margin: 35px auto;
}

.protoContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: #21BDBD;
    color: white;
    height: 300px;
    max-width: 100%;
}

.ternLink a {
    text-decoration: none;
    color: black;
}

.ternLink a:hover {
    color: #188484;
    text-decoration: underline;
}

.finalContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: #21BDBD;
    color: white;
    height: 300px;
    max-width: 100%;
}

.footerContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: #21BDBD;
    color: white;
    height: 300px;
    max-width: 100%;
}

.emailCopy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.myEmail {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px;
}

.myEmail a {
    color: whitesmoke;
    font-size: 1.1rem;
}